{% extends "shared/layout.html" %}

{% block content %}
<br>
<br>
<div class="row justify-content-start">
    <div class="d-grid gap-2 col-6">
        <button class="btn-lg btn-dark py-5" type="button">Rezept finden!</button>
        <button class="btn-lg btn-dark py-5" type="button">Restaurant finden! {{ neu }}</button>
    </div>
    <div class="d-grid gap-2 col-2">
        <button class="btn-lg btn-dark py-6" type="button">Rezeptfilter</button>
        <button class="btn-lg btn-dark py-6" type="button" data-bs-toggle="modal" data-bs-target="#restaurantFilter" >Restaurantfilter</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="restaurantFilter" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
</div>


{% endblock %}