{% extends "shared/layout.html" %} {% block content %} {% include "restaurant/restaurant_navbar.html" %}
<div class="row justify-content-center">
    <div class="col-10 mb-2" style="max-width: 480px;">
        <h1>Hoppla! Da ist etwas schiefgelaufen...</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10" style="max-width: 480px;">
        <p>Dies tut uns sehr leid.</p>
        <p>Fehlermeldung: {{err_msg}}</p>
        <p>Bei Fragen wenden Sie sich bitte an den Systemadministrator.</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10 text-center m-3" style="max-width: 480px;">
        <a href="/main" class="btn btn-dark">Startseite</a>
    </div>
</div>
{% endblock %}