<!-- Modal -->
<div class="modal fade modal-lg center" id="restaurantFilter" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Restaurantfilter</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- PLZ input -->
                <div class="p-2 mb-3">
                    <p class="form-label fs-5 mb-0">Ort</p>
                    <hr class="mt-0 mb-3">
                    <input type="text" class="form-control" id="restaurant_filter_location" aria-describedby="location" placeholder="Bitte Ort Angeben" value="{{rest_filter.manuell_location}}">
                </div>

                <!-- rating input -->
                <div class="p-2 mb-3">
                    <label for="restaurant_filter_rating" class="form-label fs-5 mb-0">Rating (minimal)</label>
                    <hr class="mt-0 mb-3">
                    <div id="restaurant_filter_rating"></div>
                    <span id="restaurant_filter_rating_target" style="display:none"></span>
                    <span id="restaurant_filter_rating_selected" style="display:none">{{ rest_filter.rating }}</span>
                </div>

                <!-- radius range -->
                <div class="p-2 mb-3">
                    <label for="restaurant_filter_radius" class="form-label fs-5 mb-0">Radius (maximal)</label>
                    <hr class="mt-0 mb-3">
                    <input type="range" class="form-range" id="restaurant_filter_radius" name="restaurant_filter_radius" min="0" max="50" value="{{rest_filter.radius // 1000}}" oninput="update_radius_text(this.value)">
                    <input class="form-label text-center" id="restaurant_filter_radius_text" value="" readonly></input>
                </div>


                <!-- costs range -->
                <div class="p-2 mb-3">
                    <label for="restaurant_filter_costs" class="form-label fs-5 mb-0">Preisstufe (maximal)</label>
                    <hr class="mt-0 mb-3">
                    <input type="range" class="form-range" id="restaurant_filter_costs" name="restaurant_filter_costs" min="0" max="4" value="{{rest_filter.costs}}" oninput="update_costs_text(this.value)"></input>
                    <input class="form-label text-center" id="restaurant_filter_costs_text" value="" readonly></input>
                </div>


                <!-- cuisine select -->
                <div class="p-2 mb-3">
                    <p class="form-label fs-5 mb-0">Cuisine</p>
                    <hr class="mt-0 mb-3">
                    <span id="cuisine_selected" style="display:none">{{cuisines_selected}}</span>

                    <div class="form-check mb-2">
                        <input type="checkbox" name="allCuisineCheckbox" id="allCuisineCheckbox" onclick="updateCuisineCheckboxes()" class="form-check-input big-check" autocomplete="off" checked>
                        <label for="allCuisineCheckbox" class="form-check-label">Alle</label>
                    </div>
                    <div class="grid-23-col d-none" id="cuisineCheckboxesContainer">
                        {% for Cuisine in cuisines_options_arr %}
                            {% if not loop.last %}
                                {% if Cuisine in cuisines_selected_arr %}
                                    <div class="form-check mb-1">
                                        <input type="checkbox" name="cuisineCheckbox{{Cuisine}}" id="cuisineCheckbox{{loop.index0}}" class="form-check-input big-check" autocomplete="off" checked>
                                        <label for="cuisineCheckbox{{Cuisine}}" class="form-check-label">{{Cuisine}}</label>
                                    </div>
                                {% else %}
                                    <div class="form-check mb-1">
                                        <input type="checkbox" name="cuisineCheckbox{{Cuisine}}" id="cuisineCheckbox{{loop.index0}}" class="form-check-input big-check" autocomplete="off">
                                        <label for="cuisineCheckbox{{Cuisine}}" class="form-check-label">{{Cuisine}}</label>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>


                <!-- allergies select -->
                <div class="p-2 mb-3">
                    <p class="form-label fs-5 mb-0">Allergien</p>
                    <hr class="mt-0 mb-3">
                    <span id="allergies_selected" style="display:none">{{allergies_selected}}</span>

                    <div class="form-check mb-2">
                        <input type="checkbox" name="allAllergyCheckbox" id="allAllergyCheckbox" onclick="updateAllergyCheckboxes()" class="form-check-input big-check" autocomplete="off" checked>
                        <label for="allAllergyCheckbox" class="form-check-label">Keine</label>
                    </div>
                    <div class="d-none" id="allergyCheckboxesContainer">
                        {% for Allergy in allergies_options_arr %}
                            {% if Allergy in allergies_selected_arr %}
                                <div class="form-check mb-1">
                                    <input type="checkbox" name="allergyCheckbox{{Allergy}}" id="allergyCheckbox{{loop.index0}}" class="form-check-input big-check" autocomplete="off" checked>
                                    <label for="allergyCheckbox{{Allergy}}" class="form-check-label">{{Allergy}}</label>
                                </div>
                            {% else %}
                                <div class="form-check mb-1">
                                    <input type="checkbox" name="allergyCheckbox{{Allergy}}" id="allergyCheckbox{{loop.index0}}" class="form-check-input big-check" autocomplete="off">
                                    <label for="allergyCheckbox{{Allergy}}" class="form-check-label">{{Allergy}}</label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <!--savings for geometry-->
                <span id="restaurant_filter_latitude" style="display:none"></span>
                <span id="restaurant_filter_longitude" style="display:none"></span>
            </div>
            
            <div class="p-2 text-center">
                <p class="fst-italic mb-0">Die Filter werden automatisch gespeichert.</p>
            </div>

            <div class="modal-footer">
                <a id="search_restaurant_from_modal" type="button" class="btn btn-primary" onclick="search_from_modal()">Suchen</a>
            </div>
        </div>
    </div>
</div>