<div class="row justify-content-center">
    <div class="col-10" style="max-width: 480px;">
        <nav class="navbar navbar-light bg-white justify-content-between">
            <a class="navbar-brand" href="#">
                <img src="/static/img/icons8-star-96.png" width="30" height="30" alt="Bewertungen">
            </a>
            <img src="/static/img/essensfinder-draft.png" width="30" height="30" alt="logo">
            <a class="navbar-brand" href="/main">
                <img src="/static/img/icons8-home-192.png" width="30" height="30" alt="Home">
            </a>
        </nav>
    </div>
</div>