{% extends "shared/layout.html" %} {% block content %} {% include "rating/rating_navbar.html" %}
<div class="row justify-content-center">
    <div class="col-10" style="max-width: 480px;">
        <h1>Bewertungen</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10  mb-2" style="max-width: 480px;">
        {% for rest_rating in rest_ratings %}
        <a type="button" class="btn btn-dark btn-sm w-100 mb-2 d-flex justify-content-between" href="/rating/edit?place_id={{rest_rating.place_id}}">
            <span>{{rest_rating.name}}</span>
            <span class="d-flex justify-content-end">
                {% if rest_rating.rating != 0 %}
                <span>{{rest_rating.rating|round|int}}/5 &nbsp;</span> {% else %}
            <span>Keine Bewertung&nbsp;</span> {% endif %}
            <span class="border-left border-white">| &gt;</span>
            </span>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}