{% extends "shared/layout.html" %} {% block content %} {% include "restaurant/restaurant_navbar.html" %}
<div class="row justify-content-center">
    <div class="col-10" style="max-width: 480px;">
        <h2>Bewertungen</h2>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10 mt-2 limit-width text-center">
        <h5 id="filterButton" class="filter-up cursor-pointer user-select-none">Filter&nbsp;<span id="filterSymbol" class="filter-character-up">▲</span></h5>
        <div id="filterButtonsContainer" class="d-none justify-content-evenly my-3"><!-- d-flex -->
            <div class="d-flex flex-column">
                <input type="checkbox" name="filterRestaurant" id="filterRestaurant" class="btn-check" checked>
                <label for="filterRestaurant" class="btn btn-outline-dark m-1 box-shadow prevent-dark-hover">Restaurants</label>
                <input type="checkbox" name="filterRezepte" id="filterRezepte" class="btn-check">
                <label for="filterRezepte" class="btn btn-outline-dark m-1 box-shadow prevent-dark-hover">Rezepte</label>
            </div>
            <div class="d-flex flex-column">
                <input type="checkbox" name="filterWithBewertung" id="filterWithBewertung" class="btn-check" checked>
                <label for="filterWithBewertung" class="btn btn-outline-dark m-1 box-shadow prevent-dark-hover">mit Bewertung</label>
                <input type="checkbox" name="filterWithoutBewertung" id="filterWithoutBewertung" class="btn-check" checked>
                <label for="filterWithoutBewertung" class="btn btn-outline-dark m-1 box-shadow prevent-dark-hover">ohne Bewertung</label>
            </div>
        </div>
        <hr class="mt-1">
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10 mt-2 limit-width text-center">
        <h5 id="sortButton" class="sort-up cursor-pointer user-select-none">Sortieren&nbsp;<span id="sortSymbol" class="filter-character-up">▲</span></h5>
        <div id="sortButtonsContainer" class="d-none justify-content-evenly my-3"><!-- d-flex -->
            <div class="d-flex flex-column">
                <input type="radio" name="sortOptions" id="sortDateAsc" class="btn-check" checked>
                <label for="sortDateAsc" class="btn btn-outline-dark m-1 box-shadow prevent-dark-hover">Datum &uarr;</label>
                <input type="radio" name="sortOptions" id="sortDateDesc" class="btn-check">
                <label for="sortDateDesc" class="btn btn-outline-dark m-1 box-shadow prevent-dark-hover">Datum &darr;</label>
            </div>
            <div class="d-flex flex-column">
                <input type="radio" name="sortOptions" id="sortRatingAsc" class="btn-check">
                <label for="sortRatingAsc" class="btn btn-outline-dark m-1 box-shadow prevent-dark-hover">Bewertung &uarr;</label>
                <input type="radio" name="sortOptions" id="sortRatingDesc" class="btn-check">
                <label for="sortRatingDesc" class="btn btn-outline-dark m-1 box-shadow prevent-dark-hover">Bewertung &darr;</label>
            </div>
        </div>
        <hr class="mt-1">
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10 mb-2 limit-width">
        {% for rest_rating in rest_ratings %}
        <div class="d-flex flex-column">
            <div class="btn-group m-2 box-shadow" role="group">
                <a type="button" class="btn btn-outline-dark prevent-dark-fill d-flex justify-content-between pe-2" href="/rating/edit?place_id={{rest_rating.place_id}}">
                    <span class="text-start">{{rest_rating.name}}</span>
                    <span class="text-end ps-3">

                    {% if rest_rating.rating != 0 %}
                        {{rest_rating.rating|round|int}}/5
                    {% else %}
                        Keine&#32;Bewertung
                    {% endif %}

                    </span>
                </a>
                <a type="button" class="btn btn-outline-dark prevent-dark-fill flex-grow-0" href="/rating/edit?place_id={{rest_rating.place_id}}">
                    <span class="border-left border-white">&gt;</span>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    filterSymbol = document.getElementById("filterSymbol");
    filterButton = document.getElementById("filterButton")
    sortSymbol = document.getElementById("sortSymbol");
    sortButton = document.getElementById("sortButton");

    filterButtons = document.getElementById("filterButtonsContainer");
    sortButtons = document.getElementById("sortButtonsContainer");
    
    filterButton.addEventListener("click", e => {
        if (filterButton.classList.contains("filter-up")) {
            filterButton.classList.remove("filter-up");
            filterButton.classList.add("filter-down");
            filterSymbol.classList.remove("filter-character-up");
            filterSymbol.classList.add("filter-character-down");

            filterButtons.classList.remove("d-none");
            filterButtons.classList.add("d-flex");
        } else if (filterButton.classList.contains("filter-down")) {
            filterButton.classList.add("filter-up");
            filterButton.classList.remove("filter-down");
            filterSymbol.classList.add("filter-character-up");
            filterSymbol.classList.remove("filter-character-down");

            filterButtons.classList.add("d-none");
            filterButtons.classList.remove("d-flex");
        }
    });

    sortButton.addEventListener("click", e => {
        if (sortButton.classList.contains("sort-up")) {
            sortButton.classList.remove("sort-up");
            sortButton.classList.add("sort-down");
            sortSymbol.classList.remove("filter-character-up");
            sortSymbol.classList.add("filter-character-down");

            sortButtons.classList.remove("d-none");
            sortButtons.classList.add("d-flex");
        } else if (sortButton.classList.contains("sort-down")) {
            sortButton.classList.add("sort-up");
            sortButton.classList.remove("sort-down");
            sortSymbol.classList.add("filter-character-up");
            sortSymbol.classList.remove("filter-character-down");

            sortButtons.classList.add("d-none");
            sortButtons.classList.remove("d-flex");
        }
    })
</script>
{% endblock %}