{% extends "shared/layout.html" %} {% block content %} {% include "restaurant/restaurant_navbar.html" %}
<div class="row justify-content-center">
    <div class="col-10" style="max-width: 480px;">
        <h2 class="display-1 fs-4 mb-1">Bewertung ändern</h2>
        <hr class="mt-0">
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10" style="max-width: 480px;">
        <h1>{{rating.name}}</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10" style="max-width: 480px;">
        <form method="post">
            {% if type == "Restaurant" %}
                <input id="identifier" name="identifier" type="text" style="display: none;" value="{{ rating.place_id }}">
            {% elif type == "Recipe" %}
                <input id="identifier" name="identifier" type="text" style="display: none;" value="{{ rating.id }}">
            {% endif %}
            <input type="text" name="type" id="type" class="d-none" value="{{ type }}">
            <input id="rest_name" name="rest_name" type="text" style="display: none;" value="{{rating.name}}">
            <input type="text" id="timestamp" class="d-none" value="{{rating.timestamp}}">
            <label for="restaurant_filter_rating" class="form-label fs-5 d-none">Bewertung:</label>
            <div id="rating_edit_rating" class="mb-1"></div>
            <input id="rating_edit_rating_target" name="rating_edit_rating_target" style="display:none" value="{{ rating.rating }}">
            <div class="mb-3">
                <span id="date_container"></span> 
            </div>
            <div class="mb-3">
                <label for="rating_notes" class="form-label fs-5">Notizen:</label>
                <textarea class="form-control" id="rating_notes" name="rating_notes" rows="3">{{rating.comment}}</textarea>
            </div>
            <div class="form-actions text-center">
                {% if type == "Restaurant" %}
                    <a href="/rating/delete?type={{type}}&id={{rating.place_id}}&rest_name={{rating.name}}" class="btn btn-outline-danger mt-3">Löschen</a>
                {% elif type == "Recipe" %}
                    <a href="/rating/delete?type={{type}}&id={{rating.id}}" class="btn btn-outline-danger mt-3">Löschen</a>
                {% endif %}
                <div class="mx-2 d-inline"></div>
                <button type="submit" class="btn btn-outline-dark mt-3">Speichern</button>
            </div>
        </form>
    </div>
</div>
<script>
    /******** inititialize star-rating-svg *****************/
    $("#rating_edit_rating").raty({
        starOff: '/static/img/icons8-star-32.png',
        starOn: '/static/img/icons8-star-32-filled.png',
        click: function(score, evt) {
            document.getElementById('rating_edit_rating_target').value = score;
        },
        score: function() {
            return document.getElementById('rating_edit_rating_target').value;
        }
    });

    //insert date
    let date = new Date(document.getElementById("timestamp").value);
    document.getElementById("date_container").innerText = "Gesucht am: " + date.toLocaleString();
</script>
{% endblock %}