<!-- Modal -->
<div class="modal fade modal-sm modal-lg center" id="accountSettings" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel2">Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <div class="p-2">
                    <p>Angemeldet als:<br>{{username}}</p>
                </div>

                <div class="p-2">
                    <a href="/pwchange" class="btn btn-dark" style="width:200px;">Passwort ändern</a>
                </div>

                <div class="p-2">
                    <a href="/confdelete" class="btn btn-dark" style="width:200px;">Account löschen</a>
                </div>

                <div class="p-2">
                    <a href="/signout/" class="btn btn-dark" style="width:200px;">Abmelden</a>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>
