{% extends "shared/layout_singleform.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="text-center mb-3">
        <h2>Passwort zur&uuml;cksetzen</h2>
    </div>
    <div class="col-10 limit-width">
        <form action="" class="needs-validation">
            <div class="mb-4">
                <label for="passwordInput" class="form-label mb-1 ms-1">Passwort:</label>
                <input type="password" name="passwordInput" id="passwordInput" class="form-control" required>
            </div>
            <div class="mb-4">
                <label for="passwordInputConfirm" class="form-label mb-1 ms-1">Passwort Best&auml;tigen:</label>
                <input type="password" name="passwordInputConfirm" id="passwordInputConfirm" class="form-control" onchange="validatePassword()" required>
                <div class="invalid-feedback">
                    Passw&ouml;rter sind nicht gleich!
                </div>
            </div>
            <div class="form-actions text-center">
                <button type="submit" class="btn btn-dark">Passwort &auml;ndern</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    function validatePassword() {
        let form = document.querySelector(".needs-validation")
        let passA = form[0].value;
        let passB = form[1].value;
        if (passA === passB) {
            form[0].classList.remove("is-invalid");
            form[1].classList.remove("is-invalid");
        } else {
            form[0].classList.add("is-invalid");
            form[1].classList.add("is-invalid");
        }
    }

    (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const form = document.querySelector('.needs-validation');

    // Loop over them and prevent submission
    form.addEventListener('submit', function (event) {
        if (form[0].classList.contains("is-invalid") || form[1].classList.contains("is-invalid")) {
            event.preventDefault();
            event.stopPropagation();
        }
    }, false);
    })()
</script>

{% endblock %}