{% extends "shared/layout_singleform.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="text-center mb-3">
        <h2>Email Eingeben</h2>
    </div>
    <div class="col-10 limit-width">
        <form action="">
            <div class="mb-3">
                <label for="emailInput" class="form-label mb-1 ms-1">Email:</label>
                <input type="email" name="emailInput" id="emailInput" class="form-control" required>
            </div>
            <div class="form-actions text-center">
                <button type="submit" class="btn btn-dark">Passwort Zur&uuml;cksetzen</button>
            </div>
        </form>
    </div>
</div>

<div class="row my-5 justify-content-center">
    <div class="col-10 text-center" style="max-width: 480px;">
        <p>Es wird eine E-mail an die angegebene Adresse geschickt, die einen Wiederherstellungslink f&uuml;r dein Passwort beinhaltet.</p>
    </div>
</div>

{% endblock %}