{% extends "shared/layout_singleform.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="text-center mb-3">
        <h2>Anmelden</h2>
    </div>
    <div class="col-10 limit-width">
        <form method="post">
            <div class="mb-3">
                <label for="emailInput" class="form-label mb-1 ms-1">Email: (example@gmx.de)</label>
                <input type="email" name="emailInput" id="emailInput" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="passwordInput" class="form-label mb-1 ms-1">Passwort: (password)</label>
                <input type="password" name="passwordInput" id="passwordInput" class="form-control" required>
                <a href="/recover" class="ms-1 mt-2">Passwort Vergessen?</a>
            </div>
            <div class="form-actions text-center">
                <button type="submit" class="btn btn-dark">Anmelden</button>
            </div>
        </form>
    </div>
</div>

<div class="row my-5 text-center">
    <p>Noch kein Konto? <a href="/register">Hier Registrieren!</a></p>
</div>

{% if error is defined and error|length > 0 %}
    <script> alert("{{ error }}"); </script>
{% endif %}

{% endblock %}