{% extends "shared/layout.html" %}

{% block content %}
<br>
<br>
<div class="row">
    <div class="col-12">
        <div class="btn-group btn-group-lg d-flex w-100">
            <div class="btn-group-vertical m-1 d-flex w-100" role="group" aria-label="Suche">
                <a class="btn btn-lg btn-dark mb-1 w-100 p-5">Rezept finden!</a>
                <a class="btn btn-lg btn-dark mb-1 w-100 p-5" href="" id="search_restaurant" onclick="change_url()">Restaurant finden!</a>                   
            </div>
            <div class="btn-group-vertical m-1 d-flex w-50" role="group" aria-label="Filter">
                <a class="btn btn-lg btn-dark mb-1 w-100 p-5">🝖<br>Filter</a>
                <a class="btn btn-lg btn-dark mb-1 w-100 p-5" data-bs-toggle="modal" data-bs-target="#restaurantFilter" onclick="update_modal_on_show()">🝖<br>Filter</a>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/index.js"></script>
<script src="/static/js/restaurant.js"></script>
{% include "restaurant/restaurant_filter_modal.html" %}

{% endblock %}